<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=random</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="card">
        <img src="/Photos/photo2.jpg">
        <p>A train station with beautiful art!</p>
    </div>
    <div class="card">
        <img src="/Photos/photo3.jpg">
        <p>My niece fake sleeping after 'reading' a book!</p>
    </div>
    <div class="card">
        <img src="/Photos/photo4.jpg">
        <p>Me and my friend, Miriam doing Karaoke!</p>
    </div>
    <div class="card">
        <img src="/Photos/photo5.jpg">
        <p>My precious cat, minita, under orange light!</p>
    </div>


    
</body>
